#include <ntverp.h>
#include <windows.h>

#define VER_FILETYPE VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR "snFilter Filter Driver"
#define VER_INTERNALNAME_STR "snFilter.sys"

#include "common.ver"